/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #040e1c;
  padding: 0 7rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;

}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #81afdd;
  line-height: 27px;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169x;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/*Стили для фона*/
.blur-01 {
  background: #002853;
  filter: blur(300px);
  border-radius: 1000px;
  margin: auto;
  position: absolute;  
  z-index: -10;
  top: -305px;
  left: -336px;
  width: 800px;
  height: 800px;
}

.blur-04 {
  background:#062547;
  filter: blur(200px);
  border-radius: 900px;
  margin: auto;
  position: absolute;  
  z-index: -10;
  width: 777px;
  height: 777px;
  top: 1712px;
  left: -444px;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 7rem;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #040e1c;
}

.header .header-logo {
  width: 162px;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 50%;
}

.hero_section .hero_section__left .left__description {
  width: 90%;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 50%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
  z-index: -10;
  justify-content: center;
}

.hero_section .hero_section__right img {
  width: 100%;
}

.hero_section .hero_section__right .blur-02 {
  display: flex;
  background: #002853;
  filter: blur(100px);
  border-radius: 500px;
  position: absolute;
  z-index: -10;
  width: 30%;
  height: 40%;
  margin: 5rem 3rem;
}

.hero_section .hero_section__right .blur-03 {
  display: flex;
  background:#072D56;
  filter: blur(200px);
  border-radius: 900px;
  position: absolute;
  z-index: -10;
  margin: 35rem 0 0 25rem;
  width: 20%;
  height: 40%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

.left__cta {
  font-weight: 500;
  line-height: 30px;
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/* Превосходя все ожидания */

.exceed_expectations {
  display: flex;
  justify-content: center;
  width: 95%;
  column-gap: 2rem;
  margin-bottom: 9rem;
}

.exceed_expectations .exceed_expectations_left {
  display: flex;
  height: 100%;
  width: 100%;
}

.exceed_expectations .exceed_expectations_left img {
  width: 100%;
}

.exceed_expectations .exceed_expectations_right {
  width: 100%;
  margin: 17rem 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.exceed_expectations .exceed_expectations_right .right__container_1 .ask_access_cta {
  color: #71E5FF;
}

.exceed_expectations .exceed_expectations_right .right__container_1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.exceed_expectations .exceed_expectations_right .right__container_1 .right_header {
  width: 60%;
}

.exceed_expectations .exceed_expectations_right .right__container_2 {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.exceed_expectations .exceed_expectations_right .right__container_2 .container_content {
  width: 75%;
  font-weight: 400;
  line-height: 30px;
}

.CTA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  margin-bottom: 5rem; 
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border-radius: 10.72px
}

.CTA .CTA_left {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}

.CTA .CTA_left .ask_access_cta {
  color: #000000;
}

.CTA .CTA_left .sign_up{
  color: #000000;
  width: 70%;
}

.CTA .CTA_right {
  display: flex;
}

.CTA .CTA_right .cta_buttons_sign_up {
  background: #000000;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem 5rem 1rem 5rem;
}

/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}

 /* пара */
/* 
.hero_section {
  flex-direction: column;
  column-gap: 0;
  margin: 14rem 0 3 rem; /*против часовой стрелки размеры отступов*/
/* 
.hero_section.hero_section__right img {
  width: 60%;
} */